<header>
  <h1 class="source-name">{{activeSource}}</h1>
  <div class="menu">
    <select class="input" (change)="updateNews($event)">
      <option *ngFor="let source of sources" value={{source.name}}>{{source.name}}</option>
      <option value="All sources">All sources</option>
    </select>
    <div>
      <input class="input" type="text" placeholder="Type your text..." [(ngModel)]="filterText">
      <input class="input" type="button" value="Filter" (click)="filterNews()">
    </div>
    <input class="input" type="button" value="Add article">
  </div>
</header>