#table{
  margin-bottom: 140px;
}
.table {
  width: 80%;
  margin: 30px auto;
  border-collapse: collapse;
  flex: 1 0 auto;
}
.table-header {
  background-color: rgb(39, 166, 154);
}
th {
  color: white;
  padding: 7px 0px;
}
.message{
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
}
