$fontFamily1: 'Source Sans Pro',
sans-serif;
$fontFamily3:'Hind',
sans-serif;
$fontFamily2: 'Fresca',
sans-serif;
$bgImage:"../img/m-h-night.jpg";
$bgColor:#21232e;
$textColor:#ffffff;
$bgCard:#3b3f50;
$btnJoinColor: #e3ac00;
$gradientColor1: #dba008;
$gradientColor2: #95314f;
$underlineColor:#ff4e33;