$fontFamily1: 'Source Sans Pro',
sans-serif;
$fontFamily2:'Hind',
sans-serif;
$fontFamily3: 'Fresca',
sans-serif;
$bgImage:"../img/m-h-day.jpg";
$bgColor:#ffffff;
$textColor:#2d2d2d;
$bgCard:#23232d;
$btnJoinColor: #699900;
$gradientColor1: #639314;
$gradientColor2: #2d5cd7;
$underlineColor:#14a0c7;